*{
    margin: 0;
    padding: 0;
}

nav{
    background-color: black;
    width: 100%;
    margin: 0 auto;
}
li{
    list-style: none;
}
header{
    width: 100%;
}
nav ul{
    padding: 0px;
    margin: 0 auto;
    width: 100%;
    display: table;
    justify-content: space-around;
}
nav ul li{
    display: table-cell;
}
nav ul li a{
    color: purple;
    display: block;
    padding: 20px;
    text-decoration: none;
    text-align: center;    
}
nav ul li a:hover{
    background-color: skyblue;
}
#seleccion{
    background-color: lightskyblue;
}
table{
    border-spacing: 0px;
}
td{
   text-align: center; 
   font-family: sans-serif;
   border-color:gray;
}
th{
    border-color:yellow;
    
}
.dia{
    background-color: green;
    font-family: Verdana,sans-serif;
}
.pati{
    background-color: blueviolet;
    color:ivory
}
.hora{
    background-color: chocolate;
}
.aplicacions{
    background-color: crimson;
    color:lawngreen
}
.serveis{
    background-color: cyan;
    color: red;
}
.seguretat{
    background-color: orange;
     color: blue;
}
.eie{
    background-color: purple;
    color:lightseagreen
}
.sistemes{
    background-color: greenyellow;
    color:palevioletred
}
.title{
    background-color: blue;
}
@media screen and (max-width: 411px) {
    .hamburguer {
        background-color: black;
        width: 2em;
        height: 2em;
        z-index: 1;
        cursor: pointer;
    }
    .lines {
        background-color: purple;
        width: 100%;
        height: 5px;
        margin: 5px 0;
        
    }
    .hide{
        display: none;
    }
    .active{
        display: list-item;
    }

    nav ul{
        display: table;
        width: 100%;
    }
    
    nav ul li{
        display: list-item;
    }
}