#menu{
    background-color: black;
}
#menu ul{
    list-style: none;
    padding: 0px;
    margin: 0px;
}
#menu ul li{
    display: inline-block;
}
#menu ul li a{
    color: purple;
    display: block;
    padding: 10px 50px;
    text-decoration: none;    
}
#menu ul li a:hover{
    background-color: skyblue;
}
#seleccion{
    background-color: lightskyblue;
}
table{
    border-spacing: 0px;
}
td{
   text-align: center; 
   font-family: sans-serif;
   border-color:gray;
}
th{
    border-color:yellow;
    
}
.dia{
    background-color: green;
    font-family: Verdana,sans-serif;
}
.pati{
    background-color: blueviolet;
    color:ivory
}
.hora{
    background-color: chocolate;
}
.aplicacions{
    background-color: crimson;
    color:lawngreen
}
.serveis{
    background-color: cyan;
    color: red;
}
.seguretat{
    background-color: orange;
     color: blue;
}
.eie{
    background-color: purple;
    color:lightseagreen
}
.sistemes{
    background-color: greenyellow;
    color:palevioletred
}
.title{
    background-color: blue;
}