h1{
    text-align: center;
}
table{
    margin-left: auto;
    margin-right: auto;
}
td{
    width: 100px;
    height: 100px;
}
.left-rigth{
    border-right: 1px solid black;
    border-left: 1px solid black;
}
.top-bot{
    border-bottom: 1px solid black;
    border-top: 1px solid black;
}
.center{
    border: 1px solid black;
}